*{margin: 0; 
padding: 0;}

.container{
    max-width: 100vw;
    max-height: 100vh;
}
.navbar{
    background-color: red;
    height: 13vh;
}
.navbar h1{
    text-align: center;
    margin-right: 2px;
    font-size: 6vw;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}
.body a{
    height: 500px;
}
.body h1{
    text-align: center;
    margin: 50px;
}
.body p{
    background-color: #fdfaf0;
    text-align: center;
    margin: 50px;
    margin-left: 250px;
    width: 80vw;
    font-size: 25px;
}
.icon{
    background: url('sprite3.png') no-repeat;
	width: 66px;
	height: 66px;   
}
#facebook{
background-position:-439px -146px;

}
.like{
background-position:-587px -221px;
}
.twitter{
background-position:-66px -72px;
}
.footer{
    height: 8vh;
    background-color:silver ;
}
#socmed{
    margin-right: 2px;
    padding: 2px; 
    text-align: right;
}
